# Everyone is invited to help solve these issues. Please get in contact with me on discord (quBit#0137) if you can provide test results, if you're a coder who can help or if you have ideas in general.

`yellow`, `orange`, `red`

## Attachments

- [Photoshop_2020-08-23_03-38-12.png](https://trello.com/1/cards/5f41c219b6828d04aa409965/attachments/5f41c897a1fe1d49872b69e4/download/Photoshop_2020-08-23_03-38-12.png)
